/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,300);

/* vars
---------------------------------------------

COLORS
dark blue = #003555
mid blue = #3389c1
light blue = #79bde9
lightest blue = #dcf0fd
dark green = #006541
mid green = #0a8f60
light green = #00a56b
lightest green = #6fe9bf

OTHER
line height = 1.5

---------------------------------------------
*/
/* normalize and flow
---------------------------------------------*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
    /*Remove tap highlight iOS */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* For some Androids */
  -webkit-tap-highlight-color: transparent;
}

img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

[tabindex="-1"]:focus {
  outline: none;
}

body {
  background: #dcf0fd;
  font-size: 20px;
  color: #003555;
  line-height: 1.5;
  overflow-y: scroll;
}

body * + * {
  margin-top: 30px;
  margin-top: 1.5rem;
}

header,
li,
option,
dt,
dd,
tr,
td {
  margin-top: 0;
}

p {
  text-align: left;
}

p + p {
  margin-top: 0.66em;
}

#stats * + h3 {
  margin-top: 30px;
  margin-top: 1.5rem;
}

.question-text {
  font-style: italic;
}

.question-text .activity {
  font-size: 0.66em !important;
  display: block !important;
  font-style: normal;
  padding-bottom: 0.5em;
  font-weight: normal;
  color: #3389c1;
}

.question-text em:before {
  content: '\201c';
}

.question-text em:after {
  content: '\201d';
}

.sup {
  font-size: 0.7em;
  vertical-align: super;
  line-height: 0;
}

sup {
  color: #3389c1;
}

button i {
  color: #43ab7c;
}
/* headings
---------------------------------------------*/

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3em
}

h2 {
  font-size: 2.25em
}

h3 {
  font-size: 1.75em
}

h3 button {
  font-size: 0.75em !important;
  margin: 0;
}

h4 {
  font-size: 1em
}
/* lists
---------------------------------------------*/

ul {
  margin-left: 1.5em;
}
/* buttons
---------------------------------------------*/

button,
.button-shaped,
[type="radio"] + span {
  display: inline-block;
  font-size: 1em;
  background: #6fe9bf;
  font-weight: bold;
  border: 0;
  padding: 0.5em 0.75em;
  cursor: pointer;
  margin: 0.5em;
  color: #006541;
  line-height: 1.125;
  border-radius: 0.1875em;
  box-shadow: 0 0.125em #0a8f60;
}

[type="radio"] + span {
  padding: 0.5em 0.75em 0.5em 1.7em;
}

[type="radio"]:checked + span {
  padding: 0.5em 0.75em 0.5em 0.6em;
  position: relative;
  top: 0.14em;
}

button span {
  margin: 0;
}

button:focus,
.button-shaped:focus,
[type="radio"]:focus + span,
button:hover,
.button-shaped:hover,
[type="radio"]:hover + span {
  background: #006541;
  color: #6fe9bf;
}

button:focus,
.button-shaped:focus,
[type="radio"]:focus + span {
  outline: #003555 thin dotted;
  outline-offset: 4px;
}

button[aria-pressed="true"],
[type="radio"]:checked + span,
button:active,
.button-shaped:active {
  background: #006541;
  color: #6fe9bf;
  border: 0 !important;
  box-shadow: none;
}

[type="radio"]:checked + span::before {
  content: '\0020\2713';
  padding-right: 0.25em;
  color: #fff;
  font-weight: bold;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:only-of-type {
  font-size: 1.25em;
}

button[disabled] {
  opacity: 0.7;
}

button[disabled]::after {
  content: ' (done)';
  font-size: 0.8em;
}

button[disabled]:active {
  background: #E25C43;
}
/* links
---------------------------------------------*/

a,
a:visited {
  text-decoration: none;
  border-color: #00a56b;
  border-bottom: 1px solid;
  color: #006541;
}

a:hover {
  border-bottom-width: 2px;
}

a:focus {
  border: 0;
  outline: 1px solid #0a8f60;
  outline-offset: 0.25em;
}

a.nav-link,
button.nav-link {
  display: inline-block;
  font-size: 1em;
  color: #006541;
  border: 2px solid #006541;
  padding: 0.5em 1em;
  font-weight: 700;
  box-shadow: none;
  background: transparent;
}

a img {
  border: 0;
}

a.nav-link:hover,
button.nav-link:hover,
a.nav-link:focus,
button.nav-link:focus {
  color: #fff;
  background: #00a56b;
}

a.nav-link:active,
button.nav-link:active {
  background: #006541;
}

[aria-label$="menu"] {
  margin-left: 0;
  text-align: center;
  margin-top: 1.5em;
}

[aria-label$="menu"] li {
  display: inline-block;
  margin: 0.25em;
}

nav {
  float: right;
}

nav li {
  list-style: none;
  display: inline;
}
/* answers
---------------------------------------------*/

.answers {
  text-align: center;
  font-size: 1.5em;
}

.answers [type="radio"],
.checklist [type="checkbox"],
.things-to-remember [type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.answers [type="radio"] + span {
  margin: 0.25em;
}
/* checklists
---------------------------------------------*/

.checklist {
  margin-left: 1.5em;
}

.checklist li {
  list-style: disc outside;
  font-weight: bold;
  line-height: 1.125;
}

.checklist li + li {
  margin-top: 0.33em;
}

.checklist [type="checkbox"] + span {
  cursor: pointer;
}

[type="checkbox"]:hover + span {
  color: #0a8f60;
}

[type="checkbox"]:focus + span {
  outline: thin dotted;
}

.checklist [type="checkbox"]:checked + span {
  text-decoration: line-through;
}
/* utilities
---------------------------------------------*/
/* for hiding things but not from assistive tech */

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.flow {
  max-width: 850px;
  margin: 0 auto;
  text-align: left;
}

.flow h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.66em;
}

.row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.row > * {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.row p {
  text-align: center;
}

.row.boxes > * {
  background: #79bde9;
  padding: 1.5em;
  border-spacing: 0.5em;
}

.massive {
  font-size: 3.5em;
  line-height: 1;
  font-weight: bold;
}

.massive span {
  font-family: monospace;
  font-weight: normal;
}

small {
  font-size: 0.85em;
  font-style: italic;
}

.message {
  background: #00a56b;
  padding: 0.5em;
  color: #fff;
  border-radius: 0.125em;
}

.message a {
  color: #fff;
}

.larger {
  font-size: 1.25em;
}

.nav-link.red {
  border-color: #e25c43;
  color: #e25c43;
}

.warn {
  text-align: center;
  background: #e25c43;
  padding: 0.25em;
  border-radius: 0.1em;
  margin-bottom: 0.75em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
}

.warn.amber {
  background: #e2ac43;
}

.huge {
  font-size: 3em;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
/* forms
---------------------------------------------*/

fieldset {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.label-input {
  display: inline-block;
  width: 32%;
  padding: 0 0.5em 0 0;
}

.label-input input {
  margin-top: 0.25em;
}

.label-input > div {
  margin: 0;
  font-size: 1.25em;
}

input[type="text"] {
  width: 100%;
}

input {
  border: 2px solid #003555;
  padding: 0.25em;
  font-size: inherit;
  color: inherit;
}

input:focus {
  outline: 1px solid #003555;
}

label {
  font-weight: bold;
  padding-right: 0.5em;
}
/* layout
---------------------------------------------*/

html {
  height: 100%;
}

body {
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

noscript {
  margin: 60px 25px;
  position: absolute;
}

.slide {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display: none;
  padding: 120px 30px;
  padding: 6rem 1.5rem;
}

.slide h2 {
  margin-top: 0;
}

.paper h2 {
  text-align: left;
  margin-top: 30px;
  margin-top: 1.5rem;
  font-size: 2.125em;
}

.paper h2:first-child {
  margin-top: 0;
}

.about h2 {
  font-size: 2.25em;
  text-align: left;
  margin-top: 30px;
  margin-top: 1.5rem;
}

.about h1 + h2 {
  margin-top: 60px;
  margin-top: 3rem;
}

.question h2 {
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.25;
}

.slide:target {
  display: table-cell;
}

[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  line-height: 90px;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 30px;
  padding: 0 1.5rem;
  text-align: left;
  margin: 0 !important;
  background: #dcf0fd !important;
  z-index: 2;
  border-bottom: 2px solid #79bde9;
}

[role="banner"] img {
  height: 100%;
  width: auto;
  padding: 0.2em 0;
}

.to-main-menu {
  margin-top: 0;
}

.to-main-menu button {
  font-size: 1em;
  background: none;
  padding: 0;
  box-shadow: none;
  position: static !important;
  font-weight: normal;
  margin: 0;
}

.to-main-menu a:not(:hover),
[role="banner"] a:not(:hover) {
  border: 0;
}

nav li + li::before {
  content: '\00b7\0020';
  padding: 0 0.25em;
}

.box {
  margin: 0 20%;
  border: 5px solid #3389c1;
  padding: 20px;
  padding: 1.5rem;
  border-radius: 0.1875em;
}

#data-box {
  margin: 0;
}

#categories-content {
  margin: 0 10%;
}

.category-list {
  font-size: 0.66em;
}

.category-list button:first-letter {
  text-transform: uppercase;
}

.green {
  border-color: #0a8f60;
}

.box img,
.print-box img {
  max-width: 8rem;
  max-width: 160px;
}

img + h1 {
  margin-top: 0;
}

[data-action="change"] {
  display: inline-block;
  margin-top: 0.75em;
}
/* main menu
---------------------------------------------*/

[role="toolbar"] ul {
  margin: 0;
}

[role="toolbar"] li {
  list-style: none;
}

[role="toolbar"] button {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  font-size: 2em;
}

[role="toolbar"] button span {
  display: block;
  font-weight: normal;
  font-style: italic;
  font-size: 0.75em;
}

.tick::after,
.ticks li::before {
  margin-left: 0.25em;
  content: '\0020\2713';
  color: #dcf0fd;
  font-weight: bold;
  background: #3389c1;
  border-radius: 50%;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  font-size: 0.85em;
}

.ticks li {
  list-style: none;
}

.ticks li + li {
  margin-top: 0.25em;
  padding-top: 0.25em;
  border-top: 1px solid #79bde9;
}

.ticks li::before {
  margin-left: 0;
  margin-right: 0.25em;
}
/* transitions
---------------------------------------------*/

.slide > * {
  transition: all 0.5s ease;
}

.slide > .box {
  transition: none;
}

.question-container {
  transform: scale(0.5);
  opacity: 0;
}

.question-container.loaded {
  transform: scale(1);
  opacity: 1;
}

@keyframes wobble {
  0% {
    transform: rotate(0.5deg);
  }
  25% {
    transform: rotate(-0.5deg);
  }
  50% {
    transform: rotate(0.5deg);
  }
  75% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes zoomzoom {
  0% {
    transform: scale(0.95)
  }
  25% {
    transform: scale(1)
  }
  50% {
    transform: scale(0.95)
  }
  100% {
    transform: scale(1);
  }
}

.box.loaded {
  animation: wobble 0.25s linear 1;
}

.box.green.loaded {
  animation: zoomzoom 0.5s linear 1;
}
/* my assessment
---------------------------------------------*/

.q-and-a {
  margin-left: 0;
}

.q-and-a p {
  margin-top: 0;
}

.q-and-a li {
  background: #6fe9bf;
  padding: 1em;
  list-style: none;
  border-radius: 0.125em;
}

.q-and-a li + li {
  margin-top: 0.75em;
}

.print-box {
  padding: 1em;
  border: 2px dashed #0a8f60;
  border-radius: 0.125em;
  text-align: center;
}

.print-box ul {
  text-align: left;
}

.print-box:after {
  content: '\0020';
  display: block;
  clear: both;
  height: 0;
}

.print-box button {
  margin: 0;
  margin-left: 0.5em;
  float: right;
}

.print-box p:first-of-type {
  margin: 0;
}

.print-box .button-shaped {
  width: 96%;
}

.paper {
  background: #fff;
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.paper h3 + p {
  margin-top: 0;
}

#printing-box button {
  width: 100%;
  margin: 0.8em 0;
}

/* about-esa about-PIP
---------------------------------------------*/

/* Video transcription expandie */
#about-esa .print-box button,
#about-PIP .print-box button {
  margin: 0 0.5em 0.4em 0;
}

#video-transcription p {
  clear: both;
}

/* expandies
---------------------------------------------*/

.expandies h3 {
  font-size: 1.25em;
}

h2 [aria-controls] {
  display: block;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  box-shadow: none;
  position: static !important;
  text-align: left;
}

h2 [aria-controls]:hover,
h2 [aria-controls]:focus {
  color: #0a8f60;
}

h2 [aria-controls]:focus {
  outline: thin solid;
}

h2 + [aria-hidden="true"] {
  display: none;
}

h2 [aria-expanded="false"]::before {
  content: '+\0020';
}

h2 [aria-expanded="true"]::before {
  content: '-\0020';
}
/* footer
---------------------------------------------*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  line-height: 3em;
}

footer p {
  text-align: right;
  padding-right: 0.75em;
}

footer a {
  border: 0;
}

.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.5em;
  width: auto;
  vertical-align: -0.68em;
  position: relative;
  top: -3px;
}

.sprite-TLEFlogo {
  width: 55px;
  height: 50px;
  background-position: -5px -5px;
}

.sprite-comic {
  width: 50px;
  height: 50px;
  background-position: -70px -5px;
}

.sprite-logo {
  width: 84px;
  height: 50px;
  background-position: -5px -65px;
}
/* feedback
---------------------------------------------*/

[role="alert"] {
  margin: 0;
  font-weight: bold;
}

@keyframes prompt {
  0% {
    background: transparent;
  }
  20% {
    background: #3389c1;
  }
  100% {
    background: transparent;
  }
}

[role="alert"] p {
  padding: 0.75em;
  max-width: 700px;
  margin: 0.5em auto;
  text-align: center;
  animation: prompt 0.75s linear 1;
  border: 1px solid;
}

/*Portal--------------------
---------------------------*/

.c-app h1 {
  margin-top: 120px;
  margin-top: 6rem;
}

.c-app .wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.c-app .wrapper button {
  width: 100%;
  margin: 0;
}

.c-app .wrapper button p {
  text-align: center;
  display: block;
  font-weight: normal;
  font-style: italic;
  font-size: 0.75em;
}

.c-app .intro {
  margin-bottom: 1.5em;
}

.c-app .esa-section, .c-app .pip-section {
  text-align: center;
  width: 46%;
  margin-bottom: 1.5em;
}
.c-app .esa-section {
  float: left;
}

.c-app .pip-section {
  float: right;
}

.c-app footer {
  height: auto;
}

header .logo {
  float: left;
}

header img {
  float: left;
  margin-right: 0.5em;
}

header span {
  display: block;
  float: right;
  margin-top: 0;
}

/* PROFILE BUTTONS ------------------------------------------------- */

.social-profile-buttons,
.social-profile-buttons div {
  display: inline-block;
  float: left;
  margin: 1em 0 0 1.5em;
}

.social-profile-buttons a {
  height: 32px;
  width: 32px;
  display: block;
  border: none;
}

.social-profile-buttons ul {
  margin: 0;
}

.social-profile-buttons ul li {
  list-style-type: none;
  display: inline-block;
}

.social-profile-buttons a.facebook {
  background: url('../images/neontabs_social_sprite-32x32.png') #4d7dc1 2px center no-repeat;
  background-position: 0 -32px;
  border-color: #294c89;
}

.social-profile-buttons a.linkedin {
  background: url('../images/neontabs_social_sprite-32x32.png') #0177b5 2px center no-repeat;
  background-position: 0 -128px;
  border-color: #0075b6;
}

.social-profile-buttons a.twitter {
  background: url('../images/neontabs_social_sprite-32x32.png') #4099FF 2px center no-repeat;
  background-position: 0 -226px;
  border-color: #204c7f;
}

/* break points
---------------------------------------------*/

@media (max-width: 800px) {
  body {
    font-size: 18px;
  }
  .category-list li {
    min-width: 50% !important;
    flex: 1 0 50% !important;
  }
  .box {
    margin: 0 10%;
  }
}
/*ipad 768px iphone6&6+ 736px */

@media (max-width: 750px) {
  body {
    font-size: 17px;
  }

  [aria-label$="menu"] li {
    display: inline-block;
  }

  [role="banner"] {
    text-align: center;
  }

  .to-main-menu {
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }

  .box {
    margin: 0 0.5em;
    padding: 1em 0.5em 0.5em;
  }
  .question h2 {
    font-size: 1.55em;
  }
  button,
  .button-shaped,
  [type="radio"] + span {
    font-size: 0.9em;
  }
  footer p {
    padding-right: 0;
  }
  .category-list li {
    min-width: 100% !important;
    flex: 1 0 100% !important;
  }

  .c-app .esa-section, .c-app .pip-section {
    text-align: center;
    width: 100%;
  }

  .social-profile-buttons {
    margin: 2em 0 0 1.5em;
  }

  header img {
    display: none;
  }

}

@media (min-width: 600px) {
  [aria-label="menu options"] ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  [aria-label="menu options"] li {
    width: 100%;
    padding: 0.5em;
    flex: 1 0 auto;
    position: relative;
  }
  [aria-label="menu options"] button {
    margin: 0;
    height: 100%;
  }
  [aria-label="menu options"] .half {
    width: 50%;
  }
  .category-list ul {
    display: flex;
    align-items: stretch;
  }
  .category-list li {
    display: flex;
    flex-flow: column;
    min-width: 33.333%;
    flex: 1 0 33.333%;
    min-height: 3em;
  }
  .category-list li button {
    height: 100%;
    flex: 1 0;
    min-height: 3.25em;
  }
}

@media (max-width: 500px) {
  [aria-label$="menu"] li {
    display: block;
  }

  [role="banner"] {
    height: auto;
    line-height: 1.5em;
    display: block;
    width: 100%;
    padding: 0.5em;
  }

  .to-main-menu {
    display: block;
  }

  .c-app .to-main-menu {
    float:none;
  }

  nav ul {
    margin: 0;
  }

  .label-input {
    width: 100%;
  }
  [aria-label$="menu"] li {
    display: block;
  }
  .box {
    margin: 0;
  }
  #categories.slide {
    padding: 120px 0px;
    padding: 6rem 0rem;
  }

  .c-app h1 {
    padding-top: 0;
    margin-top: 60px;
    margin-top: 3rem;
  }

  .social-profile-buttons {
    margin: 2em 0 0 1.5em;
    width: 100%;
  }

  footer p {
    font-size: 12px;
  }
}

@media print {
  body > * {
    display: none;
  }
  #stats {
    display: block;
  }
  #remember {
    display: block;
  }
  [aria-label$="menu"] {
    display: none;
  }
  .no-print {
    display: none !important;
  }
  .q-and-a {
    padding: 1em;
    border: 2px solid;
    color: #000;
  }
  .q-and-a li {
    padding: 0;
    background: none;
    margin: 0;
    page-break-before: auto;
  }
  .q-and-a li + li {
    margin-top: 1.5em;
    border-top: 1px solid;
    padding-top: 1.5em;
  }
  .slide {
    padding: 0;
  }
  .label-input {
    width: 100%;
  }
  .label-input input {
    border: 0;
    padding: 0;
    font-style: italic;
    border-bottom: 1px dashed;
    width: 50%;
  }
}
